<!-- <main style="
display: flex;
justify-content: center;
align-items: center;">
  <ng-container *ngIf="rock; else load">
    <table class="table" style="max-width: 1400px; margin-top: 15px;border: 1px solid rgb(33, 37, 41)">
      <thead class="thead-dark">
        <tr>
          <th style="border-right: 1px solid rgb(33,37,41);" scope="col">技能1</th>
          <th style="border-right: 1px solid rgb(33,37,41);" scope="col">等級</th>
          <th style="border-right: 1px solid rgb(33,37,41);" scope="col">技能2</th>
          <th style="border-right: 1px solid rgb(33,37,41);" scope="col">等級</th>
          <th scope="col">洞數</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rock of rock">
          <th style="border-right: 1px solid rgb(33,37,41);" scope="row">{{rock.skill1}}</th>
          <td style="border-right: 1px solid rgb(33,37,41);">{{rock.point1}}</td>
          <td style="border-right: 1px solid rgb(33,37,41);">{{rock.skill2}}</td>
          <td style="border-right: 1px solid rgb(33,37,41);">{{rock.point1}}</td>
          <td>{{rock.hole}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</main>

<ng-template #load>Loading...</ng-template> -->
<!-- <select name="rock" id="" *ngFor="let item of skills | object | formatArr">
  <option *ngFor="let arr of item.arr" value="1">{{item.key}} {{arr}}</option>
</select> -->

<main class="rockMain">
  <div *ngFor="let item of skills | object | formatArr"
    style="display: inline-block; width: 14%; min-width: 110px; margin: 10px 10px 10px 0px; position: relative; color: rgb(33, 37, 41);">
    <select [id]="item.key"
      style="height: 48px; padding: 24px 4px 4px; appearance: none; width: 100%; background-image: url(&quot;data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e&quot;); background-repeat: no-repeat; background-position: right 4px bottom 4px; background-size: 16px 12px; background-color: rgb(255, 255, 255); border: 1px solid rgb(206, 212, 218); border-radius: 0.25em;">
      <option value="">--</option>
      <option *ngFor="let arr of item.arr" value="1" [value]="item.key+'_'+arr">Lv {{arr}}</option>
    </select><label [for]="item.key"
      style="padding: 4px; position: absolute; width: 100%; overflow: hidden; white-space: nowrap; pointer-events: none; font-weight: normal; left: 0px; top: 0px;">{{item.key}}</label>
  </div>
</main>