/* You can add global styles to this file, and also import other style files */

* {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(233, 236, 239);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #212529;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(131, 105, 1);
    }
}

body {
    background: rgb(233, 236, 239) !important;
}

.text-body-secondary {
    color: #0d6efd;
    cursor: pointer;
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    z-index: 9;
}

.rockMain {
    position: relative;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    padding: 0 0 0 100px;
}